.main {
    height :calc(100vh - 70px);
    width : 100%;
    background :#1a1e23;
    display : grid;
    grid-template-columns: 1fr 4fr  2fr;
    grid-template-rows: 100%;
}
.main-sidebar  > .main-sidebar-navigation li {
    list-style-type: none;
    margin-bottom :20px;
    color :#50545a;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.main-sidebar .sidebarItems{
    display :flex ;
    align-items :center;
    padding : 10px 20px;
}
.sidebarItems > .item-text{
    margin-left :10px
}
.main-sidebar ul li input {
    background : #2a2f39 ;
    height : 35px;
    width :100%;
    border : 0px ;
    outline : none ;
    /* color :#373e47 */
    color : #abafb2
}
.main-content{
    padding : 15px 40px;
}
.main-content > div:nth-child(1){
    width : 100%;
    height :350px;
    background : #0e4cd9 ;
    border-radius : 5px
}
.main-content > div:nth-child(2){
    height: auto;
    width: 100%;
}
.main-content > div:nth-child(2) > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.main-content > div:nth-child(2) > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px;
    gap :20px
}
.main-content > div:nth-child(2) > div:nth-child(2) div{
    background: #1b2125;
    padding :8px
}
.live-matchs{
    display: flex;
    flex-direction: column;
}
.live-matchs div:nth-child(1){
    display: flex;
    justify-content: space-between;
}
.live-matchs div:nth-child(1) span:nth-child(1){
    background: #c02a2a;
    padding :8px 12px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color :#fff;
    border-radius: 3px;
}
.live-matchs div:nth-child(1) span:nth-child(2){
    color: #3f454c;
    font-weight: 700;
}
.live-matchs div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.live-matchs div:nth-child(2) > span:nth-child(1) , .live-matchs div:nth-child(2) > span:nth-child(3){
    display: inline-block;
    height: 120px;
    width: 120px;
    background:#23292e;
    border-radius: 100px;
}
.live-matchs div:nth-child(2) >span:nth-child(2){
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    color : #e7e7e9
}
.live-matchs div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.live-matchs div:nth-child(3) > span:nth-child(1){
    color: #babbbf;
    font-size: 17px;
    font-weight: 600;
}
.live-matchs div:nth-child(3) > span:nth-child(2){
    background: #292f34;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
.live-matchs div:nth-child(3) > span:nth-child(2) > span{
    width: 67%;
    height: 100%;
    display: flex;
    background: #803c3e !important;
    border-radius: 5px;
}
.sidebar-opener{
    display :none
}

.item-icon{
    background : #565b65;
    color :#1d2126;
    height :7px;
    width:7px;
    padding :7px;
    border-radius :100px;
    display :flex;
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    font-size :13px
}
.nav-title{
    color : #bec1c4;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 13px;
}
.navigation-active{
   background :#0e4cd9;
   padding : 10px 20px;
   border-radius : 5px
}
.navigation-sport-active{
    background : #2a2f39;
    border-radius : 5px
}
.navigation-sport-active img , .navigation-active img
{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(36deg) brightness(107%) contrast(101%);
}
.navigation-sport-active span , .navigation-active span{
    color :#fff
}

@media (min-width:100px) and (max-width:860px)  {
    
    .main{
        display : grid;
        grid-template-columns: 1fr 4fr 1fr ;
        grid-template-rows: 100%;
        overflow: scroll;
    }

   .sidebarItems > .item-text{
       display : none
   }
   
}